# Build output
dist
*-dist/
temp

# Environment variables file
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies directory
node_modules/

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Optional npm cache directory
.npm

# Coverage directory used by tools like istanbul
coverage

# OS files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# @shelf/jest-mongodb
mongoose/globalConfig.json