{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always",
	"proseWrap": "preserve",
	"endOfLine": "lf",
	"overrides": [{ "files": "*.yml", "options": { "tabWidth": 2 } }]
}
